# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
coverage/
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

# macOS
.DS_Store

# Secrets
.env
*.jks
*.keystore
/android/key.properties
/android/app/*.jks
/android/app/*.keystore

# Python/tooling cache
__pycache__/
*.pyc
